.stackable.grid > .row > .wide.column.is-padingless-mobile{
  @include mobile {
    padding: 0 !important;
  }
}

.stackable.grid > .row.is-padingless-mobile {
  @include mobile {
    padding: 0 20px !important;
  }
}

.stackable.grid > .row > .wide.column,
.stackable.grid > .wide.column,
.stackable.grid > .column.grid > .column,
.stackable.grid > .column.row > .column,
.stackable.grid > .row > .column,
.stackable.grid > .column:not(.row),
.grid > .stackable.row > .column {
  @include mobile {
    padding: 1em 20px !important;
  }
}

.fat.divider {
  @include touch {
    width: 50%;
  }
}

.language-section {
  padding-top: 0;
}